<!-- footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Las últimas novedades del mundo de las sneakers!</h2>
                    <p>En SneakerWorld encontrarás siempre toda la información 
                        del mundo de las zapatillas!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>La comunidad más grande de LATAM</h2>
                    <p>SNEAKERWORLD surgió como un proyecto entre amigos y ya alcanzó los
                        3.000.000 miembros. </p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>¿Los creadores?</h2>
                    <p>Tomás Álvarez Demalde, Tomás Fontana y Tom Brody</p>
                </article>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->