<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <h2 class="logo"><a href="/">-TTT-</a></h2>
        </div>
        <div class="navbar-center">
            <form action="" class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" class="search-input" placeholder="Buscar...">
            </form>
        </div>
        <div class="navbar-right">
            <ul class="menu">
                <li><a href="/users/registracion">Registro</a></li>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                <li><a href="/posts/agregarPost"><i class="fa-regular fa-square-plus"></i></a></li>
                <li><a href="/users/miPerfil/1"><i class="fa-regular fa-user"></i></a></li>
                <li><i class="fa-solid fa-arrow-right-from-bracket"></i></li>
            </ul>
        </div>
    </nav>
</header>