<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="../public/images/logo-mercado-liebre.jpg" />
	
	<title> Mercado Liebre Argentina</title>
	<%- include('../partials/head-links'); %>
</head>
<body>
	<%- include('../partials/header'); %>
	
	<!-- Banner -->
	<div class="banner">
		<img src="../public/images/img-home-banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="../public/images/airforce1.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Air Force 1</h2>
							<p>Para todos los días</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.ejs">
						<figure class="product-box_image">
							<img src="../public/images/BBforum.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Bad Bunny Forum Black</h2>
							<p>Tremenda colaboración del conejo con Adidas</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="../public/images/airmax97.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Airmax97</h2>
							<p>Hermoso diseño</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="../public/images/vans.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Vans Old Skull</h2>
							<p>El modelo para todos</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="../public/images/newBalance2002.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>New Balance 2002 R</h2>
							<p>Increíble diseño y comodidad</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="../public/images/panda.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Dunk Panda low</h2>
							<p>Lo nuevo de nike que combina con todo</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="../public/images/allStar.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>All allStar</h2>
							<p>Las que nunca pasan de moda.</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="../public/images/slides.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Yeezy Slides</h2>
							<p>Las ojotas mas comodas de la historia</p>
							<p>Comentarios: 5</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->


	<%- include('../partials/footer'); %>
</body>	
</html>