<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="../public/images/logo chico zapatilas prog.png" />

	<title> SNEAKERWORLD</title>
	<%- include('../partials/head-links'); %>
</head>

<body>
	<%- include('../partials/header'); %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>
				
				<form action="/" method="get">
				<input type="file" placeholder="Foto del producto" name="imagen"> <br>
				<input type="text" placeholder="Nombre del producto" name="nombre"> <br>
				<input type="text" placeholder="Descripcion del producto" name="Descripcion"> <br>
				<input type="date" placeholder="fecha de carga" name="fecha"> <br>
				<input type="submit" value="subir" ><br>
			</form>
			</h2>


			<%- include('../partials/footer'); %>
</body>

</html>