<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="../public/images/logo chico zapatilas prog.png" />
	
	<title> SNEAKERWORLD</title>
			<!-- Font Awesome Stylesheet -->
			<%- include('../partials/head-links'); %>
</head>
<body>
	<%- include('../partials/headerLogeado'); %>

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="https://via.placeholder.com/150" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title">laAraña 
						<a href="/user/profileEdit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li>8 productos</li>
						<li>1000 seguidores</li>
						<li>40 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
<!---->	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/2">
						<figure class="product-box_image">
							<img src="../public/images/BBforum.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Bad Bunny Forum Black</h2>
							<p>La pieza, según el comunicado, es una “invitación a las nuevas generaciones para que rompan el molde y redefinan su propio estilo y se diseñaron para fomentar la expresión individual.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product/10">
						<figure class="product-box_image">
							<img src="../public/images/vans.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Vans Old Skool</h2>
							<p>Las Vans Old Skool son zapatillas únicas y muy personalizables, así que son la opción perfecta para ocasiones informales y más arregladas. El diseño monocromo clásico es una de las opciones más versátiles, basta con combinarlo con unos vaqueros, unos chinos o una falda para conseguir un conjunto cómodo y con estilo.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product/4">
						<figure class="product-box_image">
							<img src="../public/images/newBalance2002.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>New Balance 2002 r</h2>
							<p>Las 2002R de New Balance son una combinación entre comodidad, rendimiento y estilo para disfrutar de la máxima comodidad durante tu día a día.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product/3">
						<figure class="product-box_image">
							<img src="../public/images/JordanMocha.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Jordan 1 Mocha</h2>
							<p>Las Air Jordan 1 vuelven en un colorway perfecto para este invierno: “Dark Mocha”. Este AJ, que nos recuerda a las Air Jordan 1 de Travis Scott de 2019, tiene una combinación de cuero suave color crema espumoso y una gamuza aterciopelada color mocha en la parte superior.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/7">
						<figure class="product-box_image">
							<img src="../public/images/allStar.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>All Star</h2>
							<p>Y es que la marca representa mucho más que unas zapatillas: Converse se ha convertido en sinónimo de juventud, ambiente relajado, creatividad y espíritu rebelde.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product/1">
						<figure class="product-box_image">
							<img src="../public/images/airforce1.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Air Force 1</h2>
							<p>El fulgor vive en el Nike Air Force 1 ’07, el OG de básquetbol que le da un toque fresco a lo que mejor conoces: revestimientos con costuras duraderas, acabados impecables y la cantidad perfecta de destellos para que brilles</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product/9">
						<figure class="product-box_image">
							<img src="../public/images/slides.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Yeezy Slides</h2>
							<p>Las Yeezy Slides, también conocidas como las chanclas Yeezy o las chanclas de Kanye West, son un calzado de lo más deseado. No en vano, suelen ocupar las primeras posiciones en el Lyst Index, el índice que mide las búsquedas de productos de lujo</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product/5">
						<figure class="product-box_image">
							<img src="../public/images/panda.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Dunk Low Panda</h2>
							<p>Las Nike Dunk Low son unas zapatillas casual que se inspiran en modelos deportivos pero que destacan por su comodidad. Su diseño se basa en la clásica deportiva de baloncesto que Nike lanzó en 1985.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Mis productos -->


	<%- include('../partials/footer'); %>
</body>	
</html>

