<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo chico zapatilas prog.png" />

	<title> SNEAKERWORLD </title>
	<%- include('../partials/head-links'); %>
</head>

<body>
	<%- include('../partials/header'); %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
				
			</div>
			<!-- Show the "ultimos" products -->
			<!-- <h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá va el formulario de registro. <br>
			Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos <br>
			Eliminen estás líneas y coloquen el formulario. <br>
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			////////////////
			</h2>-->

			<form action="/user/register" method="post" >
				<input type="text" placeholder="usuario" name="usuario"> <br>
				<input type="text" placeholder="email" name="email"> <br>
				<input type="password" placeholder="contraseña" name="password"> <br>
				<input type="text" placeholder="dni" name="dni"> <br>
				<input type="date" placeholder="fecha de nacimiento" name="fecha"> <br>
				<input type="file" placeholder="insertar tu foto" name="photo"> <br>
				<input type="submit" value="enviar" >
			</form>

			<% if (locals.errors) { %>
				<p style="color:red"> <%= errors.message %></p>
			<% } %>

			<%- include('../partials/footer'); %>
</body>

</html>